.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .footer div:nth-child(3):before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--cor-11);
} */

.footer-logos {
  display: grid;
  grid-column: 1/-1;
  border-radius: 4px;
}

.logos-col img {
  width: 100%;
  height: auto;
  /* border: solid green 4px; */
}

.logos-col { 
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.logos-col div {
  max-width: 200px;
  /* border: sandybrown solid 4px; */
}

.footer h3 {
  margin-bottom: 16px;
}

.footer-contato ul {
  margin-bottom: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 24px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .logos-col { 
    padding-top: 0px;
    display: flex;
    width: 100%;
    gap: 32px;
    flex-direction: column;
  }

  .logos-col div {
    max-width: 150px;
  }
}
