.equipe {
  width: 100%;
  height: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 250px é o tamanho mínimo do card */
  gap: 16px; /* Espaçamento entre os cards */
  padding: 16px 0; /* Espaçamento interno */
}

@media (max-width: 388px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.card {
  background-color: var(--cor-0);
  height: auto; 
  /* padding: 16px; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Garante que nada vaze do card */
}

.card-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  position: relative;
  width: 100%; /* Ajuste ao tamanho desejado */
  overflow: hidden; /* Evita problemas com imagens fora da borda */
}

.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
  transition: opacity 0.5s ease; /* Animação suave para a troca */
}

.card-image img.primary {
  position: relative;
  z-index: 1; /* Define a imagem base */
}

.card-image img.secondary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* Imagem que será exibida no hover */
  opacity: 0; /* Oculta por padrão */
}

.card-image:hover img.primary {
  opacity: 0; /* Esconde a imagem principal no hover */
}

.card-image:hover img.secondary {
  opacity: 1; /* Mostra a imagem secundária no hover */
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0 0 4px 4px;
  padding: 8px 0;
}

.card-content {
  max-width: 250px;
}

.card-content h1 {
  font-size: 1.5rem; /* Tamanho da fonte ajustável */
  margin: 0;
}

.card-content h4 {
  font-size: 1rem;
  margin-top: 4px;
}

.card-social {
  display: flex;
  max-width: 32px;
  justify-content: flex-end;
}

.card-social img + img {
  margin-left: 8px; /* Espaçamento entre ícones sociais */
}