/* Estilos para introdução */
.introducao-bg {
  background-image: url('../../img/doc/MIAU.png');
  background-size: cover; /* Faz a imagem cobrir todo o container */
  background-position: center; /*  Centraliza a imagem no container */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75vh;
  align-content: start;
  column-gap: 8px;
  /* background-color: #2B3986; */
}

.introducao h1 {
  margin-top: 112px;
  margin-bottom: 16px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Garante que a imagem nunca ultrapasse o container */
  object-fit: cover; /* Preenche o espaço da div sem distorção */
  overflow: hidden; /* Evita que o conteúdo transborde */
}

/* Estilos para exibição móvel */
.tem-mobile {
  display: none;
}

/* Estilos específicos para o mapa */
#map {
  height: 80vh;
}

/* Media queries para diferentes alturas de tela */
@media (max-height: 700px) {
  .introducao {
    height: 80vh;
  }

  .introducao img {
    max-width: 450px;
    margin-left: 64px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}

/* Media queries para diferentes larguras de tela */
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 72px;
    align-content: start;
    gap: 32px;
    height: 100vh;
  }

  .introducao h1 {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .sem-mobile {
    display: none;
  }
  
  .tem-mobile {
    height: 40vh;
    display: grid;
    margin-bottom: 16px;
    background-image: url('../../img/doc/BIQUINHA2.png');
    background-size: cover; /* Faz a imagem cobrir todo o container */
    background-position: center; /* Centraliza a imagem no container */
    background-repeat: no-repeat; /* Evita repetição da imagem */
  }

  .introducao-bg {
    background-color: #2B3986;
    background-image: none;
  }
  
}
